extends layout 

block content 



  include ./util/navbar
  include ./util/sidebar


  main(id="main" class="main")
    div(class="pagetitle")
      h1 Dashboard
    // End Page Title

    section.section.dashboard
      div(class="row")    

        // Left side columns
        div(class="col-lg-8")
          div(class="row")

            // All Equipment Card
            div(class="col-xxl-4 col-md-6")
              div(class="card info-card sales-card")
                div(class="card-body")
                  h5(class="card-title")
                    | All 
                    span | Equipment
                  div(class="d-flex align-items-center")
                    div(class="card-icon rounded-circle d-flex align-items-center justify-content-center")
                      i(class="bi bi-cart")
                    div(class="ps-3")
                      h6= totalCount
            // End All Equipment Card

            // ACTIVE Card
            div(class="col-xxl-4 col-md-6")
              div(class="card info-card revenue-card")
                div(class="card-body")
                  h5(class="card-title")
                    | Active 
                    span | Equipment
                  div(class="d-flex align-items-center")
                    div(class="card-icon rounded-circle d-flex align-items-center justify-content-center")
                      i(class="ri ri-emotion-line")
                    div(class="ps-3")
                      h6= activeCount
            // End ACTIVE Card

            // Damaged Card
            div(class="col-xxl-4 col-xl-12")
              div(class="card info-card customers-card")
                div(class="card-body")
                  h5(class="card-title")
                    | Damage 
                    span | Equipment 
                  div(class="d-flex align-items-center")
                    div(class="card-icon rounded-circle d-flex align-items-center justify-content-center")
                      i(class="ri ri-emotion-sad-line")
                    div(class="ps-3")
                      h6= damageCount
            // End Damaged Card           

            // Inventory Table
            div(class="col-12")
              div(class="card recent-sales overflow-auto")
                div(class="card-body")
                  h5(class="card-title")
                    | Inventory 
                    span | Data table
                  table(class="table table-borderless datatable")
                    thead
                      tr
                        th(scope='col') ID
                        th(scope='col') Name
                        th(scope='col') Serail number
                        th(scope='col') Used date
                        th(scope='col') Status
                    tbody
                      each item, index in data
                        - var badgeClass = '';
                        - if (item.status === 'Active') {
                            - badgeClass = 'bg-success';
                        - } else if (item.status === 'Pending') {
                            - badgeClass = 'bg-warning';
                        - } else if (item.status === 'Damaged') {
                            - badgeClass = 'bg-danger';
                        - }

                        tr
                          th(scope='row')
                            a(href=`/inventory/${item.id}`)= index + 1
                          td
                            a.text-primary(href=`/inventory/${item.id}`)= item.name
                          td= item.serail_number
                          td= item.daysPassed.toLocaleString() + ' ' + 'Days'
                          td
                            span.badge(class=badgeClass)= item.status          
            // Inventory Table
       

        // Right Column
        div(class="col-lg-4")  

          // Equipment Status
          div(class="card")
            div(class="card-body pb-0")
              h5(class="card-title")
                | Equipment Status 
                span | All 
              div(id="trafficChart" class="echart" style='min-height: 400px;')
              script.
                document.addEventListener("DOMContentLoaded", () => {
                  const totalCount = #{totalCount};
                  const activeCount = #{activeCount};
                  const damageCount = #{damageCount};
                  const pendingCount = #{pendingCount};

                  echarts.init(document.querySelector("#trafficChart")).setOption({
                      tooltip: {
                          trigger: 'item'
                      },
                      legend: {
                          top: '5%',
                          left: 'center'
                      },
                      series: [{
                          name: 'Equipment',
                          type: 'pie',
                          radius: ['40%', '70%'],
                          avoidLabelOverlap: false,
                          label: {
                              show: false,
                              position: 'center'
                          },
                          emphasis: {
                              label: {
                                  show: true,
                                  fontSize: '18',
                                  fontWeight: 'bold'
                              }
                          },
                          labelLine: {
                              show: false
                          },
                          data: [
                              {
                                  value: activeCount,
                                  name: 'Active',
                                  itemStyle:{
                                    color:'#55a630'
                                  }
                              },
                              {
                                  value: damageCount,
                                  name: 'Damage',
                                  itemStyle:{
                                    color:'#e74c3c'
                                  }
                              },
                              {
                                  value: pendingCount,
                                  name: 'Pending',
                                  itemStyle: {
                                    color: '#f39c12' // เปลี่ยนสีของข้อมูล Pending ได้ที่นี่
                                  }
                              }
                          ]
                      }]
                  });
                });
          // End Equipment Status

          // Location
          div(class="card")
            div(class="card-body")
              h5(class="card-title")
                | Location 
                span | 
              div(id="map")
              script.
                let map = L.map('map').setView([13.297010, 100.921484], 15);
                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                  attribution: '&copy; DDM'
                }).addTo(map);

                var circle = L.circleMarker([13.297010, 100.921484],{
                  color: 'blue',
                  fillColor: 'blue',
                  fillOpacity: 0.5,//
                }).addTo(map);
                circle.bindPopup("Devdronemapper");
          // End Location


